@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
*{
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.firstimage {

   width: 99vw;
   background-size: cover;
   background-image: url(https://images.pexels.com/photos/6198651/pexels-photo-6198651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
   background-repeat:no-repeat;
   
   
   
}
header{
    background-color: black;  
    height:100px ;  
    

}
nav{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;

}

ul  {
    font-family: aldrich , sans-serif;
    color: white;
    display: flex;
    justify-content:space-between;
    height: 20px;
    width: 50%;
    list-style: none;
    text-align: center;
    /* margin: 25px;
    padding-left:60px ; */
   
}
ul a{
    color: white;
}
.bar  p{
    color: white;
    font-family: aldrich , sans-serif;
    padding-left: 300px;

}
.bar span{
    color:#DFA667;
} 
nav img{
    height: 70px;
}
.project  h1{
   font-size: 65px;
    font-family: aldrich , sans-serif;
    color: white;
    text-align: center;
    margin-top: 15%;
    line-height: 100px;
    letter-spacing: 7px;
    
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: aldrich , sans-serif;

}
.effect-btn {
    text-transform: uppercase;
    padding: 10px;background-color: transparent;
    color:#DFA667 ;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    margin-top: 100px;
    border: none;
    
    
}
.effect-btn::before{
    content: '';
    height: 45%;
    width: 35%;
    border-left:2px solid #DFA667;
    border-top: 3px solid #DFA667;
    position:absolute;
    top:0;
    left: 0;
    transition: all 0.1s ease;

}
.effect-btn::after{
    content: '';
    height: 45%;
    width: 35%;
    border-right:2px solid #DFA667;
    border-bottom: 3px solid #DFA667;
    position:absolute;
    bottom:0;
    right: 0;
    transition: all 0.1s ease;

}
.effect-btn:hover::before{
    height: 98%;
    width: 98%;

}
.effect-btn:hover::after{
    height: 98%;
    width: 97%;
}
.discuss{
    color: aliceblue;
}
.main_matter{
    display: flex;
}
.matter{
    margin-left: 5%;
    margin-top: 200px;
}
.matter h3{
    color: #DFA667;
    font-family: poppins ,sans-serif;
    font-size: 20px;
    margin: 10px;
}
.matter h2{
    color: black;
    font-size: 32px;
    font-family: aldrich , sans-serif;
    letter-spacing: 2px;
}
.matter p{
    font-family: poppins ,sans-serif;
    font-size: 20px;
    color: #707070;
    word-spacing: 1.5px;
    /* margin: 10px; */
}

.secondimage{
    height: 500px;
    margin: 100px;
    margin-top: 200px;
    display: flex;
    float: right;
    position: relative;

}
.secondimage img{
    z-index: 1;
}
.secondimage::before{
    content: '';
    height: 95%;
    width: 95%;
    border: 9px solid #f1efe7;
    /* transform: translate(100px,100px); */
    position: absolute;
    top: 40px;
    left: 40px;



}
.work{
    margin-top: 170px;
    text-align: center;
}
.work p{
    color: #DFA667;
    font-size: 20px;
    font-family: poppins ,sans-serif;
    align-items: center;
}
.work h2{
    font-family: aldrich , sans-serif;
    letter-spacing: 2px;

}
.upcome img{
    height: 400px;
    width: 250px;
    justify-content: space-between;
    margin: 20px;
    border: 10px solid #DFA667;
    align-items: center;

}
.specialization{
    margin: 10%;

    

}
.spl{
    margin: 10px;
    color:  #DFA667;
    font-size: 20px;
    font-family: poppins ,sans-serif;


}
.wedo{
    margin: 10px; 
    color: black;
    font-size: 25px;
    font-family: aldrich , sans-serif;
    letter-spacing: 2px;
}
.foure_design{
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.foure_design >div{
    height: 200px;
}


 .interior {
    margin: 5px;  
    margin: 5%;
 }

.interior img{
    height: 75px;
    width: 75px;
    margin: 5%;

    
}
.interior h2{
  font-size: 24px;
  font-family: aldrich , sans-serif;
  letter-spacing: 2px;
  margin: 5%;

}
.interior p{
    color:#707070;
    font-family:poppins ,sans-serif ;
    font-size: 17px;
    margin: 5%;
}
.office{
    margin: 5px;  
    margin: 5%;
}
.office img{
    height: 75px;
    width: 75px;
    margin: 5%;

}
.office h2{
    font-size: 24px;
    font-family: aldrich , sans-serif;
    letter-spacing: 2px;
    margin: 5%;
}
.office p{
    color:#707070;
    font-family:poppins ,sans-serif ;
    font-size: 17px;
    margin: 5%;

}
.home{
 
    margin: 5px;  
    margin: 5%;

}
.home img{
    height: 75px;
    width: 75px;
    margin: 5%;
}
.home h2{
   font-size: 24px;
    font-family: aldrich , sans-serif;
    letter-spacing: 2px; 
    margin: 5%;

}
.home p{
    color:#707070;
    font-family:poppins ,sans-serif ;
    font-size: 17px;
    margin: 5%;
}
.drawing{
    margin: 5px;  
    margin: 5%;
}
.drawing img{
    height: 75px;
    width: 75px;
    margin: 5%;
}
.drawing h2{

    font-size: 24px;
    font-family: aldrich , sans-serif;
    letter-spacing: 2px;
    margin: 5%;
}
.drawing p{
    color:#707070;
    font-family:poppins ,sans-serif ;
    font-size: 17px;
    margin: 5%;


}
.numbers{
    margin-top: 100px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 20px;

}

.projects h1{
    color: #DFA667;
    font-size: 30px;
    letter-spacing: -1px;
    font-family: aldrich , sans-serif;
}
.projects p{
    font-family: aldrich , sans-serif;
    font-size: 25px;


}



.clints h1{
    color: #DFA667;
    font-size: 30px;
    letter-spacing: -1px;
    font-family: aldrich , sans-serif;
}
.clints p{
    font-family: aldrich , sans-serif;
    font-size: 25px;
}
.awards h1{
    color: #DFA667;
    font-size: 30px;
    letter-spacing: -1px;
    font-family: aldrich , sans-serif;
}
.awards p{
    font-family: aldrich , sans-serif;
    font-size: 25px;
}
.cups h1{
    color: #DFA667;
    font-size: 30px;
    letter-spacing: -1px;
    font-family: aldrich , sans-serif;
}
.cups p{
    font-family: aldrich , sans-serif;
    font-size: 25px;
}
.social_media{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 10%;
    color: #707070;
    
}
.social_media a svg:hover{
    color: #DFA667;
    }
.info{
    background-image: url("https://images.pexels.com/photos/6044198/pexels-photo-6044198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
   height: 100vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
   
}
.withus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px ;
}
.withus h1{
    color: white;
    font-family: aldrich , sans-serif;
    font-size: 50px;
    

}
.withus form{
    display: flex;
    align-items: baseline;
    align-items: center;
}
.withus input{
    height: 55px;
    width: 350px;

   color:#DFA667 ;

}
.withus button{
    border: #DFA667;
    font-family: aldrich , sans-serif;

    height: 55px;
    width: 55px;
    background-color: #DFA667;
}
form{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.withus svg{
    color: white;
}
.lasts{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;

}
.sss h6{
    color: white;
    font-size: 50px;
    font-family:  aldrich , sans-serif;
    margin: 20px;
    letter-spacing: 2px;
    

}
.sss p{
    color: #707070;
    font-family: poppins ,sans-serif ;
    margin: 15px;
    letter-spacing: 1px;
    

}
.company h3{
    font-size: 30px;
    color: white;
    font-family: poppins ,sans-serif ;
    margin-bottom: 25px;



}
.company a{
    margin: 25px;
    color: #707070;
    font-family: poppins ,sans-serif ;
    margin: 15px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-decoration: none;

}
.services h3{
    font-size: 30px;
    color: white;
    font-family: poppins ,sans-serif ;
    margin-bottom: 25px;

}
.services a{
    margin: 25px;
    color: #707070;
    font-family: poppins ,sans-serif ;
    margin: 15px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-decoration: none;
}
.touch h3{
    font-size: 30px;
    color: white;
    font-family: poppins ,sans-serif ;
    margin-bottom: 25px;
}
.touch p{
    margin: 25px;
    color: #707070;
    font-family: poppins ,sans-serif ;
    margin: 15px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
